<div class="container mx-auto text-center">
<br>
<h1>Log In</h1>
<hr>

<%= form_with url: login_path, class: "text-center", local: true do |f| %>
    <%= f.text_field :username, placeholder: "Username" %><br>
    <br>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <span class="errors"><%= flash[:notice] %></span>
    <br>
    <%= f.submit 'Log In', class: "btn btn-outline-dark btn-sm" %> 
<% end %>

<br>
<br>
</div>