<%# flash[:notice] %>
<br>
<h1>Welcome, <%= current_user.username %></h1>
<hr>

<p class="center">Select an option to get started: </p><br>

<div class="button-row"> 
  <div class="big-button">
    <%= link_to "Write", posts_path, method: :get %>
  </div>

  <div class="big-button">
    <%= link_to "Meditate", meditate_path, method: :get %>
  </div>

  <div class="big-button">
    <%= link_to "Edit Account", edit_user_path(current_user.id), method: :get %>
  </div>

</div>

<div id="delete-link"> 
  <%= link_to "Delete Account", "/users/#{current_user.id}", method: :delete, :data => {:confirm => 'Are you sure you want to delete your account?'}%>
</div>
