<%= flash[:notice] %>

<h1>Welcome, <%= current_user.username %></h1>

<h4>Let's get started: </h4>

<%= button_to "Write", posts_path, method: :get %>

<%= button_to "Breathe", meditate_path, method: :get %>

<%= button_to "Edit Account Info", edit_user_path(current_user.id), method: :get %>

<%= button_to "Delete Account", "/users/#{current_user.id}", method: :delete %>