<br>
<h1>Welcome, <%= current_user.username.capitalize %></h1>
<hr>

<p class="center">Select an option to get started: </p><br>

<div class="button-row"> 
  <div class="big-button">
    <%= link_to "Write", posts_path, method: :get %>
  </div>

  <div class="big-button">
    <%= link_to "Meditate", meditate_path, method: :get %>
  </div>

  <div class="big-button">
    <%= link_to "Edit Account", edit_user_path(current_user.id), method: :get %>
  </div>
</div>
<br><br>

<% if !current_user.has_goals? %>
  <p class="center">Feeling Ambitious? <br>
  <%= link_to '🖋 Set A Goal', root_path(set_goal: true) %></p>

  <% if params[:set_goal] %>
    <%= render "goal_form" %>
  <% end %>

<% else %>
  <table class="center">
    <tr>
      <td>
        <% if current_user.meditation_goal %>
        Meditation Goal: <%= pluralize(current_user.meditation_goal, "day") %><br>
        <span class="center">
          You Have Meditated For: <%= pluralize(current_user.meditation_dates_count, "day") %><br>
          
          <% percent_meditation = current_user.percent_completion("meditation") %>

          Your Progress:
          <br>
          
          <div class="progress-bar">
            <div class="filler" style="width:<%= percent_meditation %>%">
              <%= percent_meditation %>%
            </div>
          </div>

          <% if percent_meditation >= 100 %>
            🎊 Goal Accomplished! 🎉<br>
          <% end %>
                
        <% end %>
      </td>
      <td style="padding-left:25px;">
        <% if current_user.writing_goal %>
        Writing Goal: <%= pluralize(current_user.writing_goal, "day") %><br>

          You Have Written For: <%= pluralize(current_user.all_writing_dates.count, "day") %><br>

          <% percent_writing = current_user.percent_completion("writing") %>

          Your Progress:
          <br>
          
          <div class="progress-bar">
            <div class="filler" style="width:<%= percent_writing %>%">
              <%= percent_writing %>%
            </div>
          </div>

          <% if percent_writing >= 100 %>
            🎊 Goal Accomplished! 🎉<br>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>

  <br>
  <p class="center">
    <%= link_to '🖋 Set a New Goal', root_path(set_goal: true) %>
      <br>
      <%= render "goal_form" if params[:set_goal]  %>
  </p>
  <br>

<% end %>

<br>
Your Last Seven Days:<br>
<% meditated_last_seven_days = false %>
<% wrote_last_seven_days = false %>

<table class="table">
    <tr>
      <% (Date.today-6..Date.today).each do |date| %>
        <th scope="col" class="center">
          <%= date.strftime("%A") %><br>

          <% if current_user.meditation_dates && current_user.meditation_dates.split(',').include?(date.to_s) %>

            <%= image_tag('meditation.png', height: '25', width: '25')%>
            <% meditated_last_seven_days = true %>

          <% end %>

        
          <% if current_user.all_writing_dates && current_user.all_writing_dates.include?(date.to_s) %>

            <%= image_tag('pen.png', height: '25', width: '25') %>
            <% wrote_last_seven_days = true %>
            
          <% end %>
        </th>
      <% end %>
    </tr>
</table>

<p class="center"><%= "No records to display!" if !meditated_last_seven_days && !wrote_last_seven_days %></p>
