<ul class="nav mr-auto">

    <li class="nav-item"><%= link_to "Home", root_path, method: :get, class: "nav-link #{current_page?(root_path) ? "text-dark" : "text-black-50"}"%></li>

    <li class="nav-item"><%= link_to "About", about_path, method: :get, class: "nav-link #{current_page?(root_path) ? "text-dark" : "text-black-50"}"%></li>

    <li class="nav-item"><%= link_to "Entries", posts_path, method: :get, class: "nav-link #{current_page?(posts_path) ? "text-dark" : "text-black-50"}"%></li>

    <li class="nav-item"><%= link_to "Meditate", audios_path, method: :get, class: "nav-link #{current_page?(audios_path) ? "text-dark" : "text-black-50"}"%></li>

</ul>

<a class="nav-item"><%= link_to "Log Out", logout_path, method: :post, class: "btn btn-default mr-1"%></a>


