<ul class="nav mr-auto">

    <%= render partial: 'layouts/nav/nav_link', locals: {display_name: "Home", path: root_path} %>
    <%= render partial: 'layouts/nav/nav_link', locals: {display_name: "About", path: about_path} %>
    <%= render partial: 'layouts/nav/nav_link', locals: {display_name: "Entries", path: posts_path} %>
    <%= render partial: 'layouts/nav/nav_link', locals: {display_name: "Meditate", path: audios_path} %>

</ul>

<%= link_to(edit_user_path(current_user)) { image_tag 'user.png', height: '35', width: '35', class: "mr-4" } %>
<a class="nav-item"><%= link_to "Log Out", logout_path, method: :post, class: "btn btn-default mr-1"%></a>


