<%= form_with model: @user, class: "text-center" do |f| %>

  <%= f.text_field :username, placeholder: "New username" %><br>

  <span class="errors"><%= ("Username #{flash[:errors]['username'].first}" if flash[:errors]['username']) if flash[:errors] %></span>
  <br>

  <%= f.password_field :password, placeholder: "New password" %><br>
  <span class="errors"><%= ("Password #{flash[:errors]['password'].first}" if flash[:errors]['password']) if flash[:errors] %></span>
  <br>

  <%= f.password_field :password_confirmation, placeholder: "Confirm password" %><br>
  <span class="errors"><%= ("Confirmation password #{flash[:errors]['password_confirmation'].first}" if flash[:errors]['password_confirmation']) if flash[:errors] %></span>
  <br>
  
  <%= f.submit %>

<% end %>
<br>