<%= form_with model: @user, class: "text-center" do |f| %>

  <%= f.text_field :username, placeholder: "New username" %><br><br>

  <%= f.password_field :password, placeholder: "New password" %><br><br>

  <%= f.password_field :password_confirmation, placeholder: "Confirm password" %><br><br>
  
  <%= f.submit %>

<% end %>
<br>

<div class="text-center errors">
<% if @errors %>
    <% @errors.each do |error| %>
    <%= error %><br>
    <% end %>
<% end %>

</div>