<%= form_with model: @user, class: "text-center" do |f| %>

  <%= f.text_field :username, placeholder: "New username" %><br>
  <%= render partial: 'error_field', locals: { field: "Username", message: 'username' } %>
  <br>

  <%= f.password_field :password, placeholder: "New password" %><br>
  <%= render partial: 'error_field', locals: { field: "Password", message: 'password' } %>
  <br>

  <%= f.password_field :password_confirmation, placeholder: "Confirm password" %><br>
  <%= render partial: 'error_field', locals: { field: "Password confirmation", message: 'password_confirmation' } %>
  
  <br>

  <div class="d-flex justify-content-between">
    <%= link_to "Back", :back, class: "btn btn-outline-dark btn-sm mr-5" %>
    <%= f.submit "Create Account", class: "btn btn-outline-dark btn-sm #{"ml-3" if current_user} #{"to-left" if !current_user}" %>
    <%= (link_to "Delete Account", "/users/#{current_user.id}", class: "btn btn-outline-custom btn-sm", method: :delete, :data => {:confirm => 'Are you sure you want to delete your account?'}) if current_user %>
  </div>

<% end %>
<br><br>
