<h1>Journal Entries</h1>
<hr>
<% if @posts.size > 0 %>
    <%= form_with url: posts_path, method: :get, local: true do |f| %>

        <%= f.label :search %>
        <%= f.text_field :search %>

        <%= f.submit "Search" %>

    <% end %>
<% end %>

<%= button_to "Write a New Entry", new_post_path, method: :get %>

<% @posts.each do |post| %>
    <%= render partial: 'post', locals: { post: post } %>
<% end %>